.main {
    position: relative ;   
    left:50%;
    margin-left: -137px;;
}

.main div {
    position: absolute;
    bottom: 0px;    
}

.main_2 {
    position: relative ;   
    
}



.box {
    border: 1px solid #000;
    background-color: rgb(180, 190, 190);
    margin: 20px;
    position: absolute;
    padding: 15px;
}
.first {
    width: 500px;
    height: 100px;
    padding: 10px;
    left:5%;
    background-color:green;
    z-index: 1;

}
.second {
    width: 250px;
    height: 100px;
    z-index: 2;
    top: 100px; 
    left: 40px;
}
.static {
    position: static;
    width: 200px;
}





.fixed_box {
    position: fixed;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    color: #fff;
    background-color: #000;
    right: 10%;
    top:60%;
}